@model photoGallery.Models.Album

@{
    //ViewBag.Title = "Create";
}

<h2>Create New Album</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Album</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.AlbumName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AlbumName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AlbumName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-info btn-small" />
            </div>
        </div>
    </div>
}

<div>    
    @photoGallery.Utility.Utility4photoGallery.bootstrapActionLink(null, "Back to List", "Back to List", "Index", "Albums", "glyphicon-backward", null, null)
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
